
@{
    ViewData["Title"] = "PaperAndTermsView";
    Layout = "~/Views/Shared/Student/Student_Layout.cshtml";
}

<link href="~/css/Student/PaperAndTerms.css" rel="stylesheet" />

<body class="body_6">
    <div class=" container">
        <div class="row">


            <div class=" col-sm-12  col-md-6 col-lg-6 pt-5">
                <div class=" card_0 c1">
                    <div class="face face1">
                        <div class="conteent text-right " dir="rtl" style="color: #000133; font-weight: 800 !important; font-size: 25px;">



                            <p>- صور شخصية</p>
                            <p>- صور عن الهوية</p>

                            <p>- وثيقة ترفع</p>
                            <p>- صور عن البطاقة الجامعية</p>
                            <p dir="rtl">- طوابع</p>
                            <p>- طلب اقامة </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h2 style="text-align: center;">الاوراق المطلوبة للتسجيل</h2>
                    </div>
                </div>

            </div>
            <div class=" col-sm-12 col-md-6  col-lg-6 pt-5 ">





                <div class="card_0 c2">
                    <div class="face face1">
                        <div class="content text-right" dir="rtl" style="color: #000133; font-weight: 800 !important; font-size: 30px; ">


                            <p>- الطالب ناجح</p>
                            <p>- غير مقيم في ذات المدينة</p>

                            <p>- الاولوية للكليات العلمية</p>
                        </div>
                    </div>
                    <div class="face face2">
                        <h2 style="text-align: center;">الشروط الواجب توافرها</h2>

                    </div>


                </div>



            </div>









        </div>


    </div>

    <script src="~/js/Student/PaperAndTerms.js"></script>

</body>