
@{
    ViewData["Title"] = "WelcomeView";
    Layout = "~/Views/Shared/Welcom/Welcome_Layout.cshtml";
}
<form asp-action="WelcomeView">
    <div class="table">
        <div class="row table-cell">



            <div class=" container_11 col-md-12 text-right pb-5">

                <h3> الجمهورية العربية السورية </h3>
                <h3>وزارة التعليم العالي</h3>
                <h3>ادارة السكن الجامعي في حلب</h3>
            </div>
            <div class=" container_22 col-md-12 text-center pt-5">

                <h1> اهلا بك في منظومة التسجيل على السكن الجامعي </h1>

                <div class="row justify-content-center">
                    <div class="col col-sm-12 col-md-6 col-lg-4">
                        <button asp-action="WelcomeBtnClick" type="submit" class="btn_1 btn btn-lg "
                                style="background-color: #5c93ca ;opacity: 0.9;font-size: 30px;">
                            تسجيل الدخول
                        </button>
                    </div>
                </div>


            </div>

        </div>
    </div>
</form>



