
@{
    ViewData["Title"] = "xView";
    Layout = "~/Views/Shared/x_Layout.cshtml";
}
<h1 style="text-align:right;">waelcome</h1>
<div class="row" style="float:right;">
    <table>
        <tbody>
            <tr>
                <td>
                    -1
                </td>
                <th>:كلمة مرورك هي</th>
            </tr>
        </tbody>
    </table>
</div>