* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.big.error input {
    border: 2px solid #e74c3c;
}

.big.correct input {
    border: 2px solid #2ecc71;
}

.big.error select {
    border: 2px solid #e74c3c;
}

.big.correct select {
    border: 2px solid #2ecc71;
}

.big small {
    visibility: hidden;
    font-size: inherit;
    bottom: 0;
    left: 0;
}

.big.error small {
    visibility: visible;
    color: #e74c3c;
}

.big.correct small {
    visibility: hidden;
    color: #2ecc71;
}
h1 {
    text-align: center;
    color: rgb(13, 52, 97) !important;
    font-weight: bold !important;
    margin-bottom: 10% !important;
}

.box {
  
  

    font-size: 20px;
    font-weight: bold !important;

}

.includer {
    margin-top: 2%;
}

 p {
    font-size: 20px;
    font-weight: bold;
  text-align: right;
 color:#607281;

}
.m{
    background-image: radial-gradient(closest-side, #d7d7d7, #607281);
}

@media(max-width:1115px) {}

.s1 {
    font-weight: 600;
    border: none;
    width: 10rem;
    height: 53px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: radial-gradient(closest-side, #d7d7d7, #607281);
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 9px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.s1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    color: #1a5086;
    background: lightgray;
    ;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

    .s1:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }

.s1:hover {
    color: #1a5086 !important;
}
