@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
:root {
  --fs-default: 1em;
  --fs-large: 1.125em;
  --fs-xlarge: 1.25em;
  --fs-title: 1.5em;
  --clr-theme: #04619f;
}
:root{
  --main-color:#90AAB9;
  --dark-main-color:#1a5086;

  --brown-color:#4D4644;
  --text-color:#d7dddd;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}



body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.big.error input {
    border: 2px solid #e74c3c;
}

.big.correct input {
    border: 2px solid #2ecc71;
}

.big.error select {
    border: 2px solid #e74c3c;
}

.big.correct select {
    border: 2px solid #2ecc71;
}

.big small {
    visibility: hidden;
    font-size: inherit;
    bottom: 0;
    left: 0;
}

.big.error small {
    visibility: visible;
    color: #e74c3c;
}

.big.correct small {
    visibility: hidden;
    color: #2ecc71;
}

.xx {
    background: url(../../img/photo_2022-06-20_15-02-56.jpg) center no-repeat;
    background-size: cover;
    margin: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding: 2em;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: var(--fs-default);
}



.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  width: 100%;
  margin-bottom: 1.5em;
}

label {
  font-size: var(--fs-default);
  display: block;
  font-weight: 500;
  margin-bottom: 0.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
  .btt{
  
    width: 100%;
    height: 2.75em;
    border: none;
    outline: none;
    border-radius: 0.3em;
    font-size: var(--fs-default);
    padding-left: 1em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0.3em 0.3em #e0e0e0;
    box-shadow: 0 0 0.3em 0.3em #e0e0e0;
  }
  .dropdown:hover{

  opacity: 1 !important;
  }

.input {
  opacity: 0.7;
  width: 100%;
  height: 2.75em;
  border: none;
  outline: none;
  border-radius: 0.3em;
  font-size: var(--fs-default);
  padding-left: 1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0.3em 0.3em #e0e0e0;
          box-shadow: 0 0 0.3em 0.3em #e0e0e0;
 
}

input:focus {
  opacity: 1;
  -webkit-box-shadow: 0 0 0.3em 0.3em #e0e0e0;
          box-shadow: 0 0 0.3em 0.3em #e0e0e0;
}



.form-title {
  font-size: var(--fs-xlarge);
  font-weight: 500;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1em;
  padding: 1em 0;
}

.selection label {
  font-size: var(--fs-default);
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection label::before {
  content: "";
  height: 0.5em;
  width: 0.5em;
  margin-right: 10px;
  background: #ffffff;
  border: 0.2em solid #ffffff;
}

.selection--radio label::before {
  border-radius: 50%;
}

input[type="radio"]:checked ~ label::before,
input[type="checkbox"]:checked ~ label::before {
  background: var(--clr-theme);
}

.button_11 {
  width: 100%;
  background: #000000;
  background-image: linear-gradient(145deg, var(--text-color) 0%, var(--clr-theme) 70%);
  border-style: none;
  outline: none;
  border-radius: 0.5em;
  color: #ffffff;
  padding: 0.75em;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_11:hover {
  -webkit-box-shadow: 0 2px 1.5em var(--clr-theme);
          box-shadow: 0 2px 1.5em var(--clr-theme);
  letter-spacing: 0.1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 44em) {
  body {
    height: 100vh;
  }
  .col {
    width: calc(50% - 1.25em);
  }
}

@media (min-width: 112.5em) {
  :root {
    --fs-default: 1.0625em;
    --fs-large: 1.1875em;
    --fs-xlarge: 1.3125em;
    --fs-title: 1.5625em;
  }
}

footer {
  background-color:var(--main-color);
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 5px 0;
}

footer span {
  color: red;
  margin: 0 5px;
}
 .dropdown-menu{
  max-height: 80px;
 
  overflow-y: scroll;
}
.dropdown-menu::-webkit-scrollbar-thumb{
  background: #3d424e;
}
.model1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: lightgray;
    box-sizing: border-box;
    border-radius: 10px;
}