<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="~/LinkedCss/Welcome/Welcome.bootstrap.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/Welcome/welcome.css">
    <!-- Bootstrap CSS -->
    <!--========== BOX ICONS ==========-->
    <title>welcome</title>
</head>
<body class="body_1">

    <div @*class="container"*@>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/js/welcome.js"></script>
</body>
</html>
